@import "tailwindcss";

@layer components{
  .Navbar{
        @apply w-full px-[4%] sm:px-[8%] fixed h-auto box-border z-[2] flex items-center justify-between py-2 gap-10;
    }
    .heading
    {
        @apply font-[900] sm:font-[700] text-[1.6rem] sm:text-[2rem] bg-clip-text text-transparent;
    }
    .subheading{
        @apply font-[700]  text-[1.2rem];
    }
    .paratext
    {
        @apply text-justify sm:text-left font-[400];
    }
    .navbaranimation{
      @apply after:content-[''] inline-block pb-1 relative after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-purple-500 after:transition-all after:duration-300 transition-all duration-50 hover:after:w-full hover:bg-gradient-to-br hover:from-teal-500 hover:via-purple-500 hover:to-red-500 hover:text-transparent hover:font-bold  hover:bg-clip-text active:opacity-[0.7] active:scale-95 ;
    }
    .btn2
    {
         @apply bg-gradient-to-br from-[#0f172a00] via-[#1e1a78] to-[#0f172a00] border-white/50 border-2 rounded-br-[30px] rounded-tl-[30px] whitespace-nowrap py-[7%] active:opacity-[0.9] px-[3.5%] active:bg-gradient-to-bl hover:scale-105 backdrop-blur-sm sm:px-[10%] hover:shadow-[0px_0px_10px_rgba(255,255,255,0.5)] text-white cursor-pointer active:scale-[0.98]  transition-all duration-100 ;
    }
    .btn1
    {
        @apply  bg-gradient-to-bl from-[#0f172a00] via-[#1e1a78] to-[#0f172a00]  border-white/50 border-2 rounded-bl-[30px] rounded-tr-[30px] whitespace-nowrap py-[7%] active:opacity-[0.9] active:bg-gradient-to-br px-[3.5%] hover:scale-105 backdrop-blur-sm sm:px-[10%] hover:shadow-[0px_0px_10px_rgba(255,255,255,0.5)] text-white cursor-pointer active:scale-[0.98] transition-all duration-100;
    }
    
}