@import "tailwindcss";

@layer components{
  .Navbar{
        @apply w-full  px-[4%] sm:px-[8%] fixed z-[50] h-auto box-border z-[2] flex items-center justify-between py-2 gap-9;
    }
    .heading
    {
        @apply font-[900] sm:font-[700] text-[1.6rem] sm:text-[2rem] bg-clip-text text-transparent;
    }
    .subheading{
        @apply font-[700] text-[1.1rem] sm:text-[1.2rem];
    }
    .paratext
    {
        @apply text-justify sm:text-left font-[400] leading-tight text-[0.7rem];
    }
    .navbaranimation{
      @apply after:content-[''] inline-block pb-1 relative after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-purple-500 after:transition-all after:duration-300 transition-all duration-50 hover:after:w-full hover:bg-gradient-to-br hover:from-teal-500 hover:via-purple-500 hover:to-red-500 hover:text-transparent hover:font-bold  hover:bg-clip-text active:opacity-[0.7] active:scale-95 ;
    }
    .btn1
    {
        @apply  bg-gradient-to-bl from-[#0f172a00] via-[#1e1a78] to-[#0f172a00]  border-white/50 border-2 rounded-[10px] whitespace-nowrap py-[3%] active:opacity-[0.9] active:bg-gradient-to-br px-[3.5%] hover:scale-102 backdrop-blur-sm sm:px-[10%] hover:shadow-[0px_0px_10px_rgba(255,255,255,0.5)] cursor-pointer active:scale-[1] transition-all duration-100;
    }
    .voltedgelogo
    {
        @apply leading-none font-extrabold drop-shadow-[0_0_7px_rgba(255,152,0)] bg-clip-text text-transparent bg-gradient-to-t tracking-widest from-orange-500 via-yellow-500 to-orange-500 text-center ;
    }
    
}