@import "tailwindcss";

@layer components{
  .Navbar{
        @apply w-full px-[4%] sm:px-[8%] fixed h-auto box-border z-[2] flex items-center justify-between py-2 gap-10;
    }
    .heading
    {
        @apply font-[900] sm:font-[700] text-[1.6rem] sm:text-[2rem] bg-clip-text text-transparent;
    }
    .subheading{
        @apply font-[700] -translate-y-1 text-[1.3rem];
    }
    .paratext
    {
        @apply text-justify sm:text-left font-[400];
    }
    .navbaranimation{
      @apply after:content-[''] inline-block pb-1 relative after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-purple-500 after:transition-all after:duration-300 transition-all duration-50 hover:after:w-full hover:bg-gradient-to-br hover:from-teal-500 hover:via-purple-500 hover:to-red-500 hover:text-transparent hover:font-bold  hover:bg-clip-text active:opacity-[0.7] active:scale-95 ;
    }
    
}