body,
html {
  
  overscroll-behavior: none;
  position: relative;
  font-size: 20px;
}
#root {
  
  background-color: white;
  width: 100vw;
  height: auto;
  user-select: none;
  position: relative;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #FFFFFF12 inset !important; /* your dark background color */
  -webkit-text-fill-color: black !important;         /* text color to match */
  transition: background-color 9999s ease-in-out 0s;
}
@media (max-width: 640px) {
  body,
  html {
    font-size: 14px;
  }
}
@media (min-width:641px)and (max-width: 1024px) {
  body,
  html {
    font-size: 16px;
  }
}
.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}

.exo-2-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}
@keyframes pop {
  
  60% {
    transform: scale(1.05);
  }
  0%,100% {
    transform: scale(1);
  }
}

.pop {
  animation: pop 3s ease-out infinite;
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.oxanium {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}
